.About{
    width: 100%;
    height: 95%;
}

.About-container{
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #2980b9;
    background-color: #34495e;
    border-radius: 16px;

}
.About-banner{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10%;

}

.About header{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    
}

.About-text{
    padding: 0% 5%;
}

.About-banner ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.About-banner li{
    margin: 0px 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #ecf0f1;
  }
.About-skills{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.About-skills header{
    font-size: 1.5rem;
}
.About-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


  @media (max-width: 900px){
    .About-banner header{
        font-size: 1.5rem;
    }
    .About-banner li{
        font-size: 1rem;
    }
  }