.Profile-banner{
    margin-top: 10%;
    height: 25%;
    width: 100%;
}

.Profile{
    width: 100%;
    height: 95%;
}

.Profile-container{
    height: 100%;
    border: 4px solid #2980b9;
    background-color: #34495e;
    border-radius: 16px;

}

.Profile img{
    border-radius: 16px;
    height: 100%;
    box-shadow: 5px 10px 15px #1f1f1f;
    
}


.Profile-PP{
    height: 80%;
}

@media (max-width: 768px) {
    .Profile-PP{
        height: 40%;
    }
    
}